.singleTodo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    color: black;
}

.singleTodoDescription{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.icons{

}

.icon{
    font-size: 1.5em;
    margin-right: 10px;
    cursor: pointer;
}
