.singleTodo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    color: black;
}

.singleTodoText{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons{
    margin: 5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    font-size: 1.5em;
    margin-right: 10px;
    cursor: pointer;
}

.drag{
    box-shadow: 0 0 20px black;
}