.todos, .todosRemove{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    margin: 5%;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
