.input{
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.inputBox {
    width: 70%;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
}

.inputBox:focus {
    outline: none;
}

.inputSubmit {
    width: 50px;
    height: 39px;
    margin-left: 10px;
    border-radius: 5px;
    right: 0;
    border: none;
    font-size: 15px;
    background-color: #4CAF50;
    color: white;
    transition: 0.3s all;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

